<ion-header>
  <ion-toolbar>
    <ion-title>
      Instagram Clone
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let post of posts">
    <!-- Display post content here -->
    <ion-item>
      {{ post.title }}
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more posts...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
